<!DOCTYPE html>
<html>
    <head>
        <title>New User</title>
        <link rel="stylesheet" href="../css/styles.css">
        <style type="text/css">
            #container { width: 75xp; }
            #image { width: 100%; }
            #caption { text-align: justify;}
        </style>
    </head>
    <body>
        <div>
            <!-- img scr="https://logos-download.com/wp-content/uploads/2016/03/Lloyds_Bank_logo_1.png" width="300" height="200" -->
            <B><Span STYLE="font-family:sans-serif;font-size:24pt;color:darkgreen">Lloyds Bank</Span></B><br>
            <Span>Laptop Exchange</Span>
        </div>
        <hr>