<div class="top-right">
    <div class="wrapper">
        <div class="navbar">
            <div class="navItem"><a class="nb-link" href="http://localhost:3000/laptops">All Laptops</a></div>
            <div class="navItem"><a class="nb-link" href="http://localhost:3000/laptops/assigned">Assigned</a></div>
            <div class="navItem"><a class="nb-link" href="http://localhost:3000/laptops/unassigned">Unassigned</a></div>
            <div class="navItem"><a class="nb-link" href="http://localhost:3000/laptop/add">Add New</a></div>
        </div>
    </div>
</div>
