<div class="top-right">
    <ul>
        <li><a href="http://localhost:3000/laptops">All</a></li>
        <li><a href="http://localhost:3000/laptops/assigned">Assigned</a></li>
        <li><a href="http://localhost:3000/laptops/unassigned">Unassigned</a></li>
        <li><a href="http://localhost:3000/laptop/add">Add New</a></li>
    </ul>
</div>
