<div id="left" class="column">
    <div class="top-left"><img class="logo" src="http://localhost:3000/images/logo.png"></div>
    <div class="bottom">
        <p class="sidebutton"><a href="http://localhost:3000/laptops">Laptops</a></p>
        <p class="sidebutton"><a href="http://localhost:3000/users/staff">Staff</a></p>
        <p class="sidebutton"><a href="http://localhost:3000/users/clients">Clients</a></p>
    </div>
</div>