<div id="left" class="column">
    <div class="top-left"><img class="logo" src="http://localhost:3000/images/logo.png"></div>
    <div class="bottom">
        <div class="wrapper">
            <div class="sidebar">
                <ul class="sb-menu">
                    <li class="sb-item">
                        <a class="sb-link" href="http://localhost:3000/laptops">
                            <span class="icon"><i class="fa-solid fa-laptop"></i></span>
                            <span class="item">Laptops</span>
                        </a>
                    </li>
                    <li class="sb-item">
                        <a class="sb-link" href="http://localhost:3000/users/staff">
                            <span class="icon"><i class="fas fa-laptop"></i></span>
                            <span class="item">Staff</span>
                        </a>
                    </li>
                    <li class="sb-item">
                        <a class="sb-link" href="http://localhost:3000/users/clients">
                            <span class="icon"><i class="fas fa-laptop"></i></span>
                            <span class="item">Clients</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--p class="sidebutton"><a href="http://localhost:3000/laptops">Laptops</a></p>
            <p class="sidebutton"><a href="http://localhost:3000/users/staff">Staff</a></p>
            <p class="sidebutton"><a href="http://localhost:3000/users/clients">Clients</a></p-->
        </div>
    </div>
</div>