<%- include("./partials/header") %>
<P> Welcome.  On this site we aim to support the redistribution of company laptops,<br>either to existing staff or external clients.</P>
<p></p>
<Table>
    <thead>
        <th>Laptops</th>
        <th>Staff</th>
        <th>Clients</th>
    </thead>
    <tr>
        <td>
            <div id="container">
                <a href="http://localhost:3000/laptops">
                <img id="image" src="http://localhost:3000/images/ListAllLaptop.png">
            </div>
        </td>
        <td><a href="http://localhost:3000/users/staff">
            <img src="http://localhost:3000/images/ListAllStaff.png">
            </a></td>
        <td><img src="http://localhost:3000/images/ListAllClients.png">
            </td>
    </tr>
    <tr>
        <td><img id="image" src="http://localhost:3000/images/List-Assigned-Laptop.png"></td>
        <td><img src="http://localhost:3000/images/AssignedtoStaff.png"></td>
        <td><img src="http://localhost:3000/images/AssignedtoClients.png"></td>
    </tr>
    <tr>
        <td><img id="image" src="http://localhost:3000/images/ListUnassignedLaptops.png"></td>
        <td>assigned</td>
        <td>assigned</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"><a href="http://localhost:3000/users">List of Users</a></td>
    </tr>
</Table>
<%- include("./partials/footer") %>