<%- include("./partials/header") %>
<P> Welcome.  On this site we aim to support the redistribution of company laptops,<br>either to existing staff or external clients.</P>
<p></p>
<Table>
    <thead>
        <th>Laptops</th>
        <th>Staff</th>
        <th>Clients</th>
    </thead>
    <tr>
        <td>
            <div id="container">
                <a href="http://localhost:3000/laptops">
                <img id="image" src="http://localhost:3000/images/Laptop.png">
                <p id="caption">List All</p></a>
            </div>
        </td>
        <td><a href="http://localhost:3000/users/staff">
            <img src="http://localhost:3000/images/Users.png">
            <centre>List All</centre></a></td>
        <td><img src="http://localhost:3000/images/Users.png">
            List All</td>
    </tr>
    <tr>
        <td><img src="http://localhost:3000/images/UserLaptop.png">Assigned</td>
        <td>Awaiting</td>
        <td>Awaiting</td>
    </tr>
    <tr>
        <td>Unassigned</td>
        <td>assigned</td>
        <td>assigned</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"><a href="http://localhost:3000/users">List of Users</a></td>
    </tr>
</Table>
<%- include("./partials/footer") %>