<%- include("./partials/header") %>
<P> Welcome.  On this site we aim to support the redistribution of company laptops,<br>either to existing staff or external clients.</P>
<p></p>
<Table>
    <tr>
        <th>Laptops</th>
        <th>Staff</th>
        <th>Clients</th>
    </tr>
    <tr>
        <td><a href="http://localhost:3000/laptops">List All</a></td>
        <td><a href="http://localhost:3000/users/staff">List All</a></td>
        <td>List All</td>
    </tr>
    <tr>
        <td>Assigned</td>
        <td>Awaiting</td>
        <td>Awaiting</td>
    </tr>
    <tr>
        <td>Unassigned</td>
        <td>assigned</td>
        <td>assigned</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"><a href="http://localhost:3000/users">List of Users</a></td>
    </tr>
</Table>
<%- include("./partials/footer") %>